<a href="https://colab.research.google.com/github/johnsuraj194/johnsuraj194/blob/main/Copy_of_DataPreprocessing_Assignment11_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

**Step 2: Importing dataset**

In [ ]:
df=pd.read_csv("Data.csv")

**Step 3: Handling the missing data**

In [ ]:
df.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [ ]:
df.isna().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
mean_value1=df["Salary"].mean()
mean_value2=df["Age"].mean()
df['Age'].fillna(value=mean_value2,inplace=True)
df['Salary'].fillna(value=mean_value1,inplace=True)
df

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

**Step 4: Encoding categorical data**

In [ ]:
le=preprocessing.LabelEncoder()
df['Purchased']=le.fit_transform(df['Purchased'])
df['Country']=le.fit_transform(df['Country'])
df

   Country        Age        Salary  Purchased
0        0  44.000000  72000.000000          0
1        2  27.000000  48000.000000          1
2        1  30.000000  54000.000000          0
3        2  38.000000  61000.000000          0
4        1  40.000000  63777.777778          1
5        0  35.000000  58000.000000          1
6        2  38.777778  52000.000000          0
7        0  48.000000  79000.000000          1
8        1  50.000000  83000.000000          0
9        0  37.000000  67000.000000          1

**Step 5: Creating a dummy variable**

In [ ]:
X=df.iloc[:,:3]
y=df['Purchased']

**Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=0)

**Step 7: Feature Scaling**

In [ ]:
scaler=StandardScaler()

In [ ]:
scaled=scaler.fit_transform(X)

In [ ]:
scaled

array([[-1.08347268e+00,  7.58874362e-01,  7.49473254e-01],
       [ 1.32424438e+00, -1.71150388e+00, -1.43817841e+00],
       [ 1.20385853e-01, -1.27555478e+00, -8.91265492e-01],
       [ 1.32424438e+00, -1.13023841e-01, -2.53200424e-01],
       [ 1.20385853e-01,  1.77608893e-01,  6.63219199e-16],
       [-1.08347268e+00, -5.48972942e-01, -5.26656882e-01],
       [ 1.32424438e+00,  0.00000000e+00, -1.07356980e+00],
       [-1.08347268e+00,  1.34013983e+00,  1.38753832e+00],
       [ 1.20385853e-01,  1.63077256e+00,  1.75214693e+00],
       [-1.08347268e+00, -2.58340208e-01,  2.93712492e-01]])